* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: #2c9086;
}

.img-logo {
    height: 50px;
    width: 150px;
}

.title-main {
    background-color: #73c2ba;
    text-align: center;
    color: white;
}

.accordion {
    background-color: #72d6cc;
}

.accordion-head {
    position: relative;
    padding: 1rem;
}

.accordion-head:hover {
    cursor: pointer;
}

.accordion-title {
    color: white;
}

.accordion-icon {
    position: absolute;
    top: 20%;
    right: 1rem;
    color: white;
    font-size: 1.75rem;
    transition: all 0.2s ease-in;
}

.accordion-icon.active {
    transform: rotate(45deg);
}

.accordion-icon.inactive {
    transform: rotate(0deg);
}

.accordion-wrapper {
    overflow-y: hidden;
    transition: height 0.25s ease-out;
}

.accordion-content {
    background-color: #58b8ae;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.search-result-wrapper {
    width: 40%;
    background-color: #96d3cc;
    margin: 1rem;
    border-radius: 0.5rem;
}

.search-result-link {
    text-decoration: none;
    color: #02110f;
}

.search-result-info {
    padding: 1rem;
}

.search-result-info > p {
    line-height: 1.5rem;
}

.card-success {
    background-color: #8ae868;
    border-radius: 0.7rem;
    padding: 1rem 1.25rem;
    color: white;
    width: 80%;
    margin: 1rem auto;
}

.card-error {
    background-color: #d44937;
    border-radius: 0.7rem;
    padding: 1rem 1.25rem;
    color: white;
    width: 80%;
    margin: 1rem auto;
}

label {
    display: block;
}